[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
transformers = "*"
pytelegrambotapi = "*"
torch = "*"
requests = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.13"
